<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/header') %>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<body>
	<%- include('../partials/navbar') %>
    <link rel="stylesheet" href="../../css/style.css"> 
    <main>
        <div class="container">
            <h1>Create your blog:</h1>
                <form method="post" action="/blogs/save">
                    <div>Title: <input type="text" name="blog[title]" value="<%= data.title %>"></div><br>
                    <div>Content: <textarea id="ckeditor_blog" name="blog[content]" value="<%= data.content %>"></textarea></div>
                    <br><br>
                    <div><button class="btn btn-success" type="submit">Enter!</button></div>
                </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
	<%- include('../partials/bootstrap_scripts') %>
    <script>
        CKEDITOR.replace("ckeditor_blog");
        window.addEventListener('load', (event) => {
            CKEDITOR.instances.ckeditor_blog.insertHtml('<p>This is a new paragraph.</p>');
        });
    </script>
</body>
</html>
