<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/header') %>
<body>
	<%- include('../partials/navbar') %>
	<link rel="stylesheet" href="../../css/style.css"> 
	<main role="main">
		<div class="container">
			<div class="col-md-12">
                <h2 class="title py-4"><%= data.title %></h2>
                <p><%- data.content %></p>
            </div>
			<hr>
		  </div>
		  <div class="container">
			<a href="/blogs/edit/<%= data._id%>">
				<button type="button" class="btn btn-success btn-lg btn-block">
					Update Blog
				</button>
			</a>
			<a href="/blogs/delete/<%= data._id%>?_method=DELETE" onclick="return confirm('Are you sure?')">
				<button type="button" class="btn btn-danger btn-lg btn-block">
					Delete!
				</button>
			</a>
		  </div>
	</main>
	<%- include('../partials/footer') %>
	<%- include('../partials/bootstrap_scripts') %>
</body>
</html>
