<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/header') %>
<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
</head>
<body>
	<%- include('../partials/navbar') %>
	<link rel="stylesheet" href="../../css/style.css"> 
	<main role="main">
		<div class="container">
            <h2 class="title py-4">Report</h2>
			<% data.forEach((d, i) => { %>
                <% var classification = d.classification %>
                <div class="col-sm-6 py-5">
                    <div class="card">
                        <h5 class="card-header"><%= d.sentence %></h5>
                        <div class="card-body">
                          <p class="card-text"> 
                            <% for (const [key, value] of Object.entries(classification)) { %>
                                <% var statusClass = value['match'] == true  ? 'bg-danger' : 'bg-info' %>
                                <div class="p-3 mb-2 <%= statusClass %> text-white rounded">
                                    <%= key %>: <%= value["match"] %>
                                </div>
                            <% } %>
                          </p>
							<canvas id="chart<%-i%>" width="400" hieght="400" ></canvas>
							<script>							   
								var ctx = document.getElementById('chart<%-i%>').getContext('2d');
								var myChart = new Chart(ctx, {
									type: 'bar',
									data: {
										labels: ['Identity attack', 'Insult', 'Obscene', 'Severe toxicity', 'Sexual explicit', 'Threat', 'Toxicity'],
										datasets: [{
											label: '# of Votes',
											data: [12, 19, 3, 5, 2, 3, 8],
											backgroundColor: [
												'rgba(255, 99, 132, 0.2)',
												'rgba(54, 162, 235, 0.2)',
												'rgba(255, 206, 86, 0.2)',
												'rgba(75, 192, 192, 0.2)',
												'rgba(153, 102, 255, 0.2)',
												'rgba(255, 159, 64, 0.2)',
												'rgba(255, 130, 238, 0.2)'
											],
											borderColor: [
												'rgba(255, 99, 132, 1)',
												'rgba(54, 162, 235, 1)',
												'rgba(255, 206, 86, 1)',
												'rgba(75, 192, 192, 1)',
												'rgba(153, 102, 255, 1)',
												'rgba(255, 159, 64, 1)',
												'rgba(255, 130, 238, 1)'
											],
											borderWidth: 1
										}]
									},
									options: {
										scales: {
											y: {
												beginAtZero: true
											}
										}
									}
								});
							</script>
                        </div>
                      </div>
                </div>
            <% }) %>
			<hr>
		  </div>
		  <div class="container">
            <a href="/blogs/edit/<%= blogId %>">
				<button type="button" class="btn btn-success btn-lg btn-block">
					Update Blog
				</button>
			</a>
			<a href="/blogs/delete/<%= blogId %>?_method=DELETE" onclick="return confirm('Are you sure?')">
				<button type="button" class="btn btn-danger btn-lg btn-block">
					Delete!
				</button>
			</a>
		  </div>
	</main>
	<%- include('../partials/footer') %>
	<%- include('../partials/bootstrap_scripts') %>
</body>

</html>
