<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>
<body>
	<%- include('partials/navbar') %>
	<link rel="stylesheet" href="./css/style.css"> 
	<main role="main">
		<div class="container">
			<div class="row">
				<% data.forEach((d, i) => { %>
					<div class="col-md-4">
						<h2><%= d.title %></h2>
						<p><%= d.content %></p>
						<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
					</div>
				<% }) %>
			</div>
			<hr>
		  </div>
		  <div class="container">
			<button type="button" class="btn btn-primary btn-lg btn-block">
				<a href="/blogs/create">Create Blog</a>
			</button>
		  </div>
	</main>
	<%- include('partials/footer') %>
	<%- include('partials/bootstrap_scripts') %>
</body>
</html>
